.fundedDeals {
  &_btn {
    margin-left: auto;
    max-width: 307px;
    width: 100%;

    >div,
    button {
      width: 100%;
    }
  }

  &_wrapper {}
}

.textDecoration {
  padding: 6px 16px !important;
  border-radius: 8px !important;
  text-decoration: none !important;
}