@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$baseFont: "Montserrat", sans-serif;
$bg-0E0F2D: #0E0F2D;
$text-white: #ffffff;
$text-black: #000000;
$text-9999B3: #9999B3;
$text-gray1: #A0AEC0;
$linearBg-btn: linear-gradient(
  71deg,
  #ef2528 -10.93%,
  #d1189a 24.77%,
  #0fbee2 92.16%,
  #617fff 146.16%
);
$linearBg-main: linear-gradient(
  93deg,
  rgba(16, 17, 49, 0.28) 0.77%,
  #131535 46.42%,
  rgba(16, 17, 49, 0.54) 98.1%
);
